<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Anamnese</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label *ngIf="anamnese">
      <h3>Cadastrado em:</h3>
      <h2>{{anamnese.createdAt | date: "dd/MM/yyyy"}}</h2>
      <h3>Tem alergias?</h3>
      <h2>{{anamnese.alergies ? "Sim" : "Não"}}</h2>
      <h3>Tipo de sangue?</h3>
      <h2>{{anamnese.blood_type}}</h2>
      <h3>Hemofílico?</h3>
      <h2>{{anamnese.hemophilic ? "Sim" : "Não"}}</h2>
      <h3>Usa medicação?</h3>
      <h2>{{anamnese.medication ? "Sim" : "Não"}}</h2>
      <h3>Respiração fraca?</h3>
      <h2>{{anamnese.weak_breath ? "Sim" : "Não"}}</h2>
      <h3>Batimentos rápido?</h3>
      <h2>{{anamnese.fast_heartbeats ? "Sim" : "Não"}}</h2>
      <h3>Hiv, Chagas ou Hepatite?</h3>
      <h2>{{anamnese.hiv_chagas_hepatitis ? "Sim" : "Não"}}</h2>
      <h3>Grávida?</h3>
      <h2>{{anamnese.pregnant ? "Sim" : "Não"}}</h2>
      <h3>Doenças do coração?</h3>
      <h2>{{anamnese.heart_disease ? "Sim" : "Não"}}</h2>
      <h3>Mãos ou pés inchados?</h3>
      <h2>{{anamnese.feet_hands_swelling ? "Sim" : "Não"}}</h2>
      <h3>Comentários:</h3>
      <h2>{{anamnese.comments}}</h2>
    </ion-label>
  </ion-item>
</ion-content>