ion-item {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    border: 2px #8c8c8c solid;
    border-radius: 20px;
    padding: 10px;
  }

  h3 {
      margin-top: 10px;
      color: #8c8c8c;
  }