<ion-content>
  <img src="../../assets/logo.svg">

  <ion-row>
    <ion-col>
      <div class="option" routerLink="/home">
        <div class="option-detail">
            <ion-icon color="primary" name="person"></ion-icon>
        </div>
        <ion-label>Meu Perfil</ion-label>
      </div>
    </ion-col>

    <ion-col>
      <div class="option" routerLink="/budgets">
        <div class="option-detail">
            <ion-icon color="primary" name="reader"></ion-icon>
        </div>
        <ion-label>Orçamento</ion-label>

      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="option" routerLink="/home">
        <div class="option-detail">
            <ion-icon color="primary" name="exit"></ion-icon>
        </div>
        <ion-label>Sair</ion-label>

      </div>
    </ion-col>
    <ion-col>
      <div class="option" routerLink="/home">
        <div class="option-detail">
            <ion-icon color="primary" name="calendar"></ion-icon>
        </div>
        <ion-label>Agenda</ion-label>

      </div>
    </ion-col>
  </ion-row>
</ion-content>