ion-item {
    margin-top: 5px;
    border: 2px #8c8c8c solid;
    border-radius: 50px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

.bar-header{
    box-shadow: none;
}