<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink="/options"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()"><ion-icon name="refresh"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Orçamentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let budget of budgetList">
    <ion-item>
      <ion-thumbnail color="primary" slot="start">
        <ion-label class="titulo-thumb">VALIDADE</ion-label>
        <div class="date ion-text-center">
          <ion-label>{{tratamentoStringData(budget.createdAt)[0]}}</ion-label>
          <ion-label>{{tratamentoStringData(budget.createdAt)[1]}}</ion-label>
          <ion-label>{{tratamentoStringData(budget.createdAt)[2].substring(2,4)}}</ion-label>
        </div>
      </ion-thumbnail>
      <ion-label>
        <h2>VALOR(R$): {{budget.price.toFixed(2)}}</h2>
        <h2>PROCEDIMENTOS: {{budget.procedures.length}}</h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button shape="round">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>