<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="options"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Orçamentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" offset-lg="3" size-lg="6">
      <ion-list>
        <ion-item button lines="none" (click)="openBudgetDetail(budget.id)" detail *ngFor="let budget of budgetList">
          <ion-thumbnail color="primary" slot="start">
            <ion-label class="titulo-thumb">VALIDADE</ion-label>
            <div class="date ion-text-center">
              <ion-label>{{budget.valid_at | date: "dd"}}</ion-label>
              <ion-label>{{budget.valid_at | date: "MM"}}</ion-label>
              <ion-label>{{budget.valid_at | date: "yy"}}</ion-label>
            </div>
          </ion-thumbnail>
          <ion-label>
            <h2>Registrado em:</h2>
            <h2>{{budget.createdAt | date: "dd/MM/yy/ HH:mm"}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>