<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="profile"></ion-back-button>
        </ion-buttons>
    <ion-title>Lista de Anamneses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item (click)="openDetailAnamnese(anamnese.id)" *ngFor="let anamnese of listAnamnesis">
      <ion-label>
        <h2>Registrado em: {{anamnese.createdAt | date: 'dd/MM/yyyy hh:mm'}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
