.btn-img-profile {
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn-change-password {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.div-profile-img {
    margin-left: 50%;
    width: 150px;
    height: 150px;
    border: solid #ccc 2px;
    border-radius: 100%;
    transform: translateX(-50%);
}

.profile-img {
    width: 80%;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
}