ion-thumbnail div ion-label{
    font-size: 11pt;
    color: #DD3C3C;
}

ion-thumbnail{
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
}

.titulo-thumb{
    position: absolute;
    writing-mode: vertical-lr;
    left: 3px;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 6pt;
    color: #DD3C3C;
}

.date {
    margin-left: 50%;
    transform: translateX(-50%);
}

ion-fab{
    top: -10px;
}