#form-background {
  margin-top: 20px;
  margin-bottom: 0px;
  background: #fff;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  height: calc(100% - 58px);
  position: relative;
}

#container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header-home{
  background: linear-gradient(117.51deg, #FA2323 -35.48%, #F2B3B3 107.42%), #FCD6D6;
  padding-top: 20px;
  padding-bottom: 0px;
  height: 100%;
}

.header-home ion-label{
  color: #fff;
}
.header-home ion-label a{
  color: #00CCAA;
  text-decoration: none;
}

ion-button{
  margin-left: 50%;
  border-radius: 50px;
  margin-top: 30px;
  transform: translateX(-50%);
}

ion-item {
  margin-top: 5px;
  border: 2px #8c8c8c solid;
  border-radius: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

ion-icon {
  margin-right: 10px;
}

img {
  width: 250px;
  margin-left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}